<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Gauge Tool</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.wwhh.gaugeTool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gauge Tool</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/weiweihuanghuang/GaugeTool/master/GaugeTool.glyphsTool/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/weiweihuanghuang/GaugeTool</string>
	<key>productReleaseNotes</key>
	<string>____LatestReleaseNotes____</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Wei Huang, 2016</string>
	<key>NSPrincipalClass</key>
	<string>gaugeTool</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
